<body style="background-color: rosybrown; text-align: center;margin-left: 40%; margin-right: 40%;">
    <h1>Crear nueva cuenta</h1>
    <input placeholder="NOMBRE" [(ngModel)]="nombre" >
    <br>
    <br>
    <input placeholder="CORREO ELECTRONICO" [(ngModel)]="correo" >
    <br>
    <br>
    <input type="CONTRASEÑA" placeholder="PASSWORD" [(ngModel)]="contra" >
    <br>
    <br>
    <input type="CONTRASEÑA" placeholder="CONFIRM PASSWORD" [(ngModel)]="confirmar" >
    <br>
    <br>
    <input placeholder="PNUMERO TELEFONICO" [(ngModel)]="numero">
    <br>
    <br>

    
    <br>
    <br>
    <button (click)="register()">--REGISTRARSE--</button>
    
    <br>
    <br>
    <br>
    <br>

    
</body>p>
